@using PMSCRM.ViewModels
@model IEnumerable<TaskProcessAreaUserCustomerDisplayViewModel>
<link rel="stylesheet" href="~/css/buttons.css">
<link rel="stylesheet" href="~/css/table.css">

<div class="card shadow-sm p-4 mb-4">
    <table class="table-striped table-hover custom-table">
        <thead>
            <tr>
                <th class="text-center">Area</th>
                <th class="text-center">Process</th>
                <th class="text-center">Task</th>
                <th class="text-center">Customer</th>
                <th class="text-center">Start Date</th>
                <th class="text-center">End Date</th>
                <th class="text-center">Status</th>
                <th class="text-center">Date</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center small">@item.AreaName</td>
                        <td class="text-center small">@item.ProcessName</td>
                        <td class="text-center small">@item.TaskName</td>
                        <td class="text-center small">@item.CustomerName</td>
                        <td class="text-center small">@item.StartDate.ToString("yyyy-MM-dd")</td>
                        <td class="text-center small">@item.EndDate.ToString("yyyy-MM-dd")</td>
                        <td class="text-center small">@((PMSCRM.Utilities.TaskStatus)item.Status)</td>
                        <td class="text-center small">@item.Timestamp.ToString("yyyy-MM-dd HH:mm")</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8" class="text-center small">No Task Process Area User Customer found.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
