@model PMSCRM.Models.User

@{
    ViewData["Title"] = "Edit User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/buttons.css">

<div class="card shadow-sm p-4 mb-4">
    <form class="was-validated" asp-action="EditUser" asp-route-id="@Model.UserId" method="post">
        <div class="mb-3 mt-3">
            <label for="emailAddress" class="form-label">Email</label>
            <input type="text" class="form-control" id="emailAddress" name="EmailAddress" value="@Model.EmailAddress" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <div class="mb-3 mt-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" name="FirstName" value="@Model.FirstName" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <div class="mb-3 mt-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="LastName" value="@Model.LastName" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <div class="mb-3 mt-3">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="phoneNumber" name="PhoneNumber" value="@Model.PhoneNumber" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <button type="submit" class="btn btn-submit">Save Changes</button>
        <a href="/User/ViewUsers" class="btn btn-cancel">Cancel</a>
    </form>
</div>
