@model List<PMSCRM.Models.User>

@{
    ViewData["Title"] = "View Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/buttons.css">
<link rel="stylesheet" href="~/css/table.css">

<div class="card shadow-sm p-4 mb-4">
    @if (Model != null && Model.Any())
    {
        <table class="table-striped table-hover custom-table">
            <thead>
                <tr>
                    <th>
                        <a asp-action="ViewUsers" asp-route-sortBy="EmailAddress" asp-route-sortDirection="@((ViewBag.CurrentSort == "EmailAddress" && ViewBag.CurrentSortDirection == "asc") ? "desc" : "asc")">
                            Email
                            @if (ViewBag.CurrentSort == "EmailAddress")
                            {
                                <span>@(ViewBag.CurrentSortDirection == "asc" ? "▲" : "▼")</span>
                            }
                            else
                            {
                                <span>▲</span>
                            }
                        </a>
                    </th>
                    <th>
                        <a asp-action="ViewUsers" asp-route-sortBy="FirstName" asp-route-sortDirection="@((ViewBag.CurrentSort == "FirstName" && ViewBag.CurrentSortDirection == "asc") ? "desc" : "asc")">
                            First Name
                            @if (ViewBag.CurrentSort == "FirstName")
                            {
                                <span>@(ViewBag.CurrentSortDirection == "asc" ? "▲" : "▼")</span>
                            }
                            else
                            {
                                <span>▲</span>
                            }
                        </a>
                    </th>
                    <th>
                        <a asp-action="ViewUsers" asp-route-sortBy="LastName" asp-route-sortDirection="@((ViewBag.CurrentSort == "LastName" && ViewBag.CurrentSortDirection == "asc") ? "desc" : "asc")">
                            Last Name
                            @if (ViewBag.CurrentSort == "LastName")
                            {
                                <span>@(ViewBag.CurrentSortDirection == "asc" ? "▲" : "▼")</span>
                            }
                            else
                            {
                                <span>▲</span>
                            }
                        </a>
                    </th>
                    <th>Phone Number</th>
                    <th>
                        <a asp-action="ViewUsers" asp-route-sortBy="TimeStamp" asp-route-sortDirection="@((ViewBag.CurrentSort == "TimeStamp" && ViewBag.CurrentSortDirection == "asc") ? "desc" : "asc")">
                            Created
                            @if (ViewBag.CurrentSort == "TimeStamp")
                            {
                                <span>@(ViewBag.CurrentSortDirection == "asc" ? "▲" : "▼")</span>
                            }
                            else
                            {
                                <span>▲</span>
                            }
                        </a>
                    </th>
                    <th class="text-end px-3"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td class="text-truncate" style="max-width: 150px;">
                            <a href="/User/Details/@user.UserId" style="color: black; text-decoration: none;">@user.EmailAddress</a>
                        </td>
                        <td class="text-truncate" style="max-width: 150px;">
                            <a href="/User/Details/@user.UserId" style="color: black; text-decoration: none;">@user.FirstName</a>
                        </td>
                        <td class="text-truncate" style="max-width: 150px;">
                            <a href="/User/Details/@user.UserId" style="color: black; text-decoration: none;">@user.LastName</a>
                        </td>
                        <td class="text-truncate" style="max-width: 150px;">
                            <a href="/User/Details/@user.UserId" style="color: black; text-decoration: none;">@user.PhoneNumber</a>
                        </td>
                        <td>
                            <a href="/User/EditUser/@user.UserId" class="btn btn-edit">Edit</a>

                            @if (user.UserId.ToString() == ViewBag.CurrentUserId.ToString())
                            {
                                <span class="btn btn-delete disabled">Delete</span> <!-- Disable delete for current user -->
                            }
                            else
                            {
                                <a href="/User/DeleteUser/@user.UserId" class="btn btn-delete">Delete</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No users found.</p>
    }

    <div>
        <a asp-area="" asp-controller="User" asp-action="AddUser" class="btn btn-add">Add User</a>
    </div>
</div>


