@model IEnumerable<PMSCRM.ViewModels.TaskProcessAreaDisplayViewModel>

@{
    ViewData["Title"] = "View Task Process Areas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/buttons.css">
<link rel="stylesheet" href="~/css/table.css">

<div class="card shadow-sm p-4 mb-4">
    @if (ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success">
            @ViewBag.SuccessMessage
        </div>
    }
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            @ViewBag.ErrorMessage
        </div>
    }

    <table class="table-striped table-hover custom-table">
        <thead>
            <tr>
                <th class="text-center">
                    <a asp-action="ViewTaskProcessAreas" asp-route-sortBy="Area" asp-route-sortDirection="@((ViewBag.CurrentSort == "Area" && ViewBag.CurrentSortDirection == "asc") ? "desc" : "asc")">
                        Area
                        @if (ViewBag.CurrentSort == "Area")
                        {
                            <span>@(ViewBag.CurrentSortDirection == "asc" ? "▲" : "▼")</span>
                        }
                        else
                        {
                            <span>▲</span> 
                        }
                    </a>
                </th>
                <th class="text-center">
                    <a asp-action="ViewTaskProcessAreas" asp-route-sortBy="Process" asp-route-sortDirection="@((ViewBag.CurrentSort == "Process" && ViewBag.CurrentSortDirection == "asc") ? "desc" : "asc")">
                        Process
                        @if (ViewBag.CurrentSort == "Process")
                        {
                            <span>@(ViewBag.CurrentSortDirection == "asc" ? "▲" : "▼")</span>
                        }
                        else
                        {
                            <span>▲</span>
                        }
                    </a>
                </th>
                <th class="text-center">
                    <a asp-action="ViewTaskProcessAreas" asp-route-sortBy="Task" asp-route-sortDirection="@((ViewBag.CurrentSort == "Task" && ViewBag.CurrentSortDirection == "asc") ? "desc" : "asc")">
                        Task
                        @if (ViewBag.CurrentSort == "Task")
                        {
                            <span>@(ViewBag.CurrentSortDirection == "asc" ? "▲" : "▼")</span>
                        }
                        else
                        {
                            <span>▲</span>
                        }
                    </a>
                </th>
                <th class="text-center">
                    <a asp-action="ViewTaskProcessAreas" asp-route-sortBy="Timestamp" asp-route-sortDirection="@((ViewBag.CurrentSort == "Timestamp" && ViewBag.CurrentSortDirection == "asc") ? "desc" : "asc")">
                        Created
                        @if (ViewBag.CurrentSort == "Timestamp")
                        {
                            <span>@(ViewBag.CurrentSortDirection == "asc" ? "▲" : "▼")</span>
                        }
                        else
                        {
                            <span>▲</span>
                        }
                    </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-truncate" style="max-width: 100px;">
                        <a href="/TaskProcessArea/Details/@item.TaskProcessAreaId" style="color: black; text-decoration: none;">@item.AreaName</a>
                    </td>

                    <td class="text-truncate" style="max-width: 100px;">
                        <a href="/TaskProcessArea/Details/@item.TaskProcessAreaId" style="color: black; text-decoration: none;">@item.ProcessName</a>
                    </td>

                    <td class="text-truncate" style="max-width: 100px;">
                        <a href="/TaskProcessArea/Details/@item.TaskProcessAreaId" style="color: black; text-decoration: none;">@item.TaskName</a>
                    </td>

                    <td class="text-truncate" style="max-width: 100px;">
                        <a href="/TaskProcessArea/Details/@item.TaskProcessAreaId" style="color: black; text-decoration: none;">@item.Timestamp</a>
                    </td>


                    <td>
                        <a href="@Url.Action("EditTaskProcessArea", "TaskProcessArea", new { id = item.TaskProcessAreaId })" class="btn btn-edit">Edit</a>
                        <a href="@Url.Action("DeleteTaskProcessArea", "TaskProcessArea", new { id = item.TaskProcessAreaId })" class="btn btn-delete">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <a asp-area="" asp-controller="TaskProcessArea" asp-action="AddTaskProcessArea" class="btn btn-add">Add TPA</a>
    </div>
</div>